@using SeyahatRehberi.ViewModel
@model List<BlogCardViewModel>
<section class="w3l-grids-3 py-5 h-100">
    <div class="container py-md-5">
        <div class="title-content text-left mb-lg-5 mb-4">
            <h3 class="hny-title text-danger">@ViewBag.Blogs</h3>
        </div>
        <div class="row bottom-ab-grids " style="border-radius:10px">
            @if (Model != null)
            {
                foreach (var item in Model)
                {

                    <div class="col-lg-6 subject-card mt-lg-0 mt-4 mb-4">
                        <div class="subject-card-header ">
                            <a href="@Url.Action("BlogDetail", "Travel", new { @item.BlogId})" class="card_title ">
                                <div class="row align-items-center p-3">
                                    <div class="col-sm-5 subject-img pl-4 pt-2">
                                        <img src="@item.Image" class="img-fluid" alt="">
                                    </div>
                                    <div class="col-sm-7 subject-content p-4 mt-sm-0 mt-4 overflow-hidden">
                                        <h4 class="text-danger">@item.Title</h4>
                                        <h5>@item.City</h5>
                                        <p>Comment : @item.Comments | Likes : @item.Likes</p>
                                        <div class="dst-btm">
                                            <p class="sub-para"> Author : @item.Author </p>
                                        </div>
                                        <p class="sub-para ">@(item.Description.Length>45? item.Description.Substring(0, 45):item.Description) ..</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                }
            }


        </div>
    </div>
</section>

