@using SeyahatRehberi.Models
@model List<BlogPost>   
@{
    ViewBag.Title = "RaportedBlogs";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>RaportedBlogs</h2>


<div class="card">
    <div class="card-body">

        <div class="table-responsive">
            <table class="table table-centered mb-0" id="">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>CityName</th>
                        <th>CreationDate</th>
                        <th>IsRaported</th>
                        <th colspan="2">Settings</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Title</td>
                            <td>@item.City.CityName</td>
                            <td>@item.CreationDate</td>
                            <td>@item.IsRaported</td>
                            <td>
                                @Html.ActionLink("Approve", "ApproveRaport", "Admin", new { blogId = item.Id }, new { @class = "btn btn-success" }) 
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
